#!/usr/bin/make -f
# -*- makefile -*-

PACKAGE = backupninja
TMP = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	   MKTEMP=/bin/mktemp BASH=/bin/bash SED=/bin/sed \
	   AWK=/usr/bin/awk STAT=/usr/bin/stat \
	   --libdir=\$${prefix}/lib \
	   --libexecdir=\$${prefix}/lib

override_dh_auto_install:
	dh_auto_install
	chmod a-x $(TMP)/usr/lib/backupninja/parseini
	chmod a-x $(TMP)/usr/lib/backupninja/vserver
	rm $(TMP)/usr/share/backupninja/example.*

override_dh_compress:
	dh_compress -Xexample

override_dh_fixperms:
	dh_fixperms
	chmod 2770 $(TMP)/etc/backup.d

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

